<h1><center> Event List </center></h1>
<!-- Function for getting month-->
<% def get_month(res) %>
    <% s = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"] %>
    <% return s[(res.to_i)-1] %>
<% end %>
<!-- Function for getting month-->

<% @events.each do|e| %>
  <% @event_date = e.event_date %>
  <% @edate = @event_date.to_s %>
  <div class = "container-fluid">
    <div class = "row ">
      <div id= "coloumn-height">
        <div class = "col-lg-10 col-lg-offset-2">
          <div class = "demo grid-margin col-lg-2 ">   
            <div class = "date-cell-item">
              <h1> <%= @edate[8..9] %></h1>
              <h2> <%= get_month(@edate[5..6]) %></h2><br>
              <h4> <span class = "glyphicon glyphicon-map-marker" aria-hidden = "true"></span> <%= e.event_location %> </h4>
            </div>
          </div>
          <div class = "grid-margin col-lg-4 demo">
            <div class = "cell-item">
              <h4><i> Event Name: <%= e.event_name %></i></h4><br>
              <h4><i> Event Type: <%= e.event_type %></i></h4></h4><br>
              <blockquote> <%= e.event_description %></blockquote><br>
              <% if Time.now > @event_date %>
                <%= link_to 'Registrations Closed', event_path(e), class: "btn btn-danger" %><br><br>
              <% else %>
                <%= link_to 'Registrations Open', event_path(e), class: "btn btn-success" %><br><br>
              <% end %>
            </div>
          </div>
          <div class = "grid-margin col-lg-3 demo">
            <div class = "cell-item">
              <h2><i> Pricing coloumn </i></h2>
              <h4> Ticket Price: <span class = "glyphicon glyphicon-euro" aria-hidden = "true"></span> </h4><br>
            </div>
          </div>
        </div> 
      </div>
    </div>  
  </div>  
<% end %>







